<section class="section flash-message" data-controller="flash" data-target="flash.message">
  <div class="container">
    <p class="notification <%= flash_class(@type) %>">
      <button class="delete is-hidden" data-action="click->flash#close" data-target="flash.close"></button>
      <%= @message %>
    </p>
  </div>
</section>
