<!doctype html>
<html class="<%= @current_session && "has-navbar-fixed-top" %>" lang="<%= locale() %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="turbolinks-cache-control" content="no-cache">

    <title><%= gettext "Vintock" %></title>

    <link rel="icon" type="image/x-icon" href="<%= static_path(@conn, "/images/favicon.ico") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
    <%= if @current_session do %>
      <%= render "_menu.html", conn: @conn %>
      <%= render_flash @conn %>
      <%= render "_breadcrumb.html", breadcrumbs: @breadcrumbs %>
    <% end %>

    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
