<!doctype html>
<html lang="<%= locale() %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      404 :: <%= dgettext("error_pages", "Page not found") %>
    </title>
    <link rel="stylesheet" href="<%= static_path(PtrWeb.Endpoint, "/css/app.css") %>">
  </head>

  <body>
    <section class="hero is-medium is-dark is-bold has-text-centered">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            <%= dgettext("error_pages", "The page you are looking for does not exists") %>
          </h1>
          <h2 class="subtitle">
            <%= dgettext("error_pages", "Maybe you get the wrong address or the page was moved") %>
          </h2>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <p class="has-text-centered is-size-5">
          <%= link dgettext("error_pages", "Go to start"), to: root_path(PtrWeb.Endpoint, :index) %>
        </p>
      </div>
    </section>
  </body>
</html>
