<article class="message is-info">
  <div class="message-body">
    <p class="title is-4">
      <%= dgettext("cellars", "Looks like you have no vessels") %>
    </p>
    <p class="subtitle is-6">
      <%= dgettext("cellars", "Let's create one...") %>
    </p>

    <p>
      <%= link dgettext("cellars", "New vessel"), to: cellar_vessel_path(@conn, :new, @cellar), class: "button" %>
    </p>
  </div>
</article>
