<h4 class="title is-4">
  <%= dngettext("cellars", "Has one vessel", "Has %{count} vessels", @cellar.vessels_count) %>
</h4>

<p>
  <%= link dgettext("cellars", "New vessel"), to: Routes.cellar_vessel_path(@conn, :new, @cellar), class: "button is-small" %>
  <%= gettext("or") %>
  <%= link dngettext("cellars", "Show vessel", "Show %{count} vessels", @cellar.vessels_count), to: Routes.cellar_vessel_path(@conn, :index, @cellar) %>
</p>
