a[disabled="disabled"] {
  pointer-events: none;
}

.has-cursor-pointer {
  cursor: pointer;
}

.has-text-centered-vertically {
  vertical-align: middle !important;
}

.is-sr {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
