<section class="hero is-medium is-light is-bold">
  <div class="hero-body has-text-centered">
    <div class="container">
      <h1 class="title">
        <%= dgettext("owners", "Looks like you have no owners.") %>
      </h1>

      <h2 class="subtitle">
        <%= dgettext("owners", "Let's create one...") %>
      </h2>

      <p>
        <%= link dgettext("owners", "New owner"), to: owner_path(@conn, :new), class: "button is-primary is-large" %>
      </p>
    </div>
  </div>
</section>
