<section class="section is-primary">
  <div class="container">
    <%= render "_form.html", Map.put(assigns, :action, user_path(@conn, :create)) %>
  </div>
</section>

<footer class="footer is-primary">
  <div class="container">
    <p>
      <span><%= link gettext("Back"), to: user_path(@conn, :index) %></span>
    </p>
  </div>
</footer>
